<section class="main-class">
    
    <div class="center-copper">
        <div id="step-1" class="texts mb-5">
            <div class="title mb-3">
                Atenção!
            </div>
            <div class="desc">
                Uma vez selecioado o candidato, o seu voto será enviado, e não poderá voltar a editálo. 
            </div>

            <button class="nextStep a_click_effect" id="nextStep">Próximo</button>
        </div>
    
        <div id="step-2" style="display: none; opacity: 0;">
            <div class="texts mb-5">
                <div class="title mb-3">
                    Vote em seu candidato!
                </div>
            </div>
    
            <div class="people">
                <div class="profile" onclick="">
                    <div class="image"></div>
                    <div class="name">Kangadji</div>
                    <input type="radio" name="select-person" id="">
                </div>
                <div class="profile" onclick="">
                    <div class="image"></div>
                    <div class="name">Panchulaneino rininwricvrwi ri</div>
                    <input type="radio" name="select-person" id="">
                </div>
            </div>
        </div>
    </div>
</section>