<section class="main-section">
    <div class="center-copper">
        <div class="fk-logo mb-3"></div>

        <div class="_desc mb-4">
            <div class="title mb-2">Voting Application</div>
            <div class="desc">
                Officia aperiam inputset fuga dolorem praesentium culpa debitis itaque delectus
            </div>
        </div>

        <form action="" class="id-verify-form">
            <div class="fk-input-copper mb-3">
                <input type="text" name="id_purse" placeholder="Escreva o ID para votar" autocomplete="off"/>
            </div>
            <div class="fk-button-copper">
                <input type="submit" value="Registar Voto" />
            </div>
        </form>
    </div>
</section>