<section class="main-section">
    <div class="center-copper">
        <div class="fk-logo mb-3">
            <img src="/midea/aba9884b-3485-47b6-9aaf-7e0e4d02502a.jpeg" alt="">
        </div>

        <div class="_desc mb-4">
            <div class="title mb-2">Insira seu ID para votar</div>
            <div class="desc">
            </div>
        </div>

        <form action="/auth/voting" method="POST" class="id-verify-form">
            <div class="fk-input-copper mb-3">
                <input type="text" name="id_purse" placeholder="Escreva o ID para votar" autocomplete="off"  oninput="restringirInput(event)"/>
            </div>
            <div class="fk-button-copper">
                <input type="submit" value="Votar" />
            </div>
        </form>
    </div>
</section>

<script>
    function restringirInput(event) {
        // Obtém o valor atual do input
        var valorAtual = event.target.value;

        // Remove caracteres que não são números, "-", ou letras maiúsculas
        var novoValor = valorAtual.replace(/[^A-Z0-9-]/g, '');

        // Atualiza o valor do input com o novo valor restrito
        event.target.value = novoValor;
    }
</script>