*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
body,
body * {
  font-family: var(--fml-primary);
}

*.a_click_effect {
  transition: 0.1s;
  transform: scale(1);
}
*.a_click_effect:active {
  transition: 0.08s;
  transform: scale(0.95);
}

:root {
  --fml-primary: Relaway;
  --fml-secondary: Oswald;
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: Relaway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
.fml-sec {
  font-family: var(--fml-secondary) !important;
  font-size: 13px;
}

.modal.key-gen-modal .modal-content {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal.key-gen-modal .modal-content .modal-body {
  padding: 30px;
}
.modal.key-gen-modal .modal-content h1 {
  font-size: 18px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.9);
}
.modal.key-gen-modal .modal-content p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
.modal.key-gen-modal .modal-content p .keys-number {
  background-color: rgb(216, 216, 255);
  font-family: var(--fml-secondary);
  font-size: 12px;
  border-radius: 4px;
  padding: 0px 5px;
  letter-spacing: 1px;
  border: 2px solid rgb(177, 177, 255);
}
.modal.key-gen-modal .modal-content form .input-copper-field {
  display: flex;
  width: 100%;
  background-color: rgb(216, 216, 255);
  border-radius: 4px;
  border: 2px solid rgb(177, 177, 255);
}
.modal.key-gen-modal .modal-content form .input-copper-field input {
  width: calc(100% - 140px);
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: var(--fml-secondary);
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  outline: none;
  letter-spacing: 1px;
  background-color: transparent;
  height: 60px;
}
.modal.key-gen-modal .modal-content form .input-copper-field button {
  border: none;
  outline: none;
  width: 70px;
  height: 50px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background-color: transparent;
}
.modal.key-gen-modal .modal-content form .input-copper-field button.up:active {
  transition: 0.08s;
  transform: translateY(-4px);
}
.modal.key-gen-modal .modal-content form .input-copper-field button.down:active {
  transition: 0.08s;
  transform: translateY(4px);
}
.modal.key-gen-modal .modal-content form .input-copper-field button svg {
  width: 24px;
  height: 24px;
  margin-top: -5px;
}
.modal.key-gen-modal .modal-content form .input-copper-field button svg path {
  fill: rgba(0, 0, 0, 0.8);
}
.modal.key-gen-modal .modal-content button {
  width: 100%;
  height: 40px;
  background-color: rgb(0, 0, 0);
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  padding: 24px 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 4px;
  gap: 4px;
}
.modal.key-gen-modal .modal-content button span {
  font-family: var(--fml-secondary);
  font-size: 13px;
}
.modal.key-gen-modal .modal-content button[type=button] {
  background: red;
}

#loader {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid #fff;
  border-right-color: transparent;
  animation: identifier 1s linear infinite;
}
@keyframes identifier {
  to {
    transform: rotate(360deg);
  }
}

.modal.warier_exampleModal .modal-dialog .modal-content {
  border-radius: 0;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .absolute-done {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5607843137);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .absolute-done:after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-right-color: transparent;
  display: block;
  animation: 0.6s roller infinite linear;
}
@keyframes roller {
  to {
    transform: rotate(360deg);
  }
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .spin-ld {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9450980392);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .spin-ld:after {
  content: "";
  width: 40px;
  height: 40px;
  border-right-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.8);
  animation: 0.6s infinite roller linear;
  border-radius: 100%;
  border-right-color: transparent;
}
@keyframes roller {
  to {
    transform: rotate(360deg);
  }
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .final-ld {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9450980392);
  position: absolute;
  left: 0;
  top: 0;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .final-ld div {
  width: 80%;
  padding: 0 5%;
  text-align: center;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select {
  position: relative;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select input.ws-input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 14px;
  padding-right: 55px;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select .icon svg {
  width: 24px;
  height: 24px;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select .icon svg path {
  fill: rgba(0, 0, 0, 0.7);
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select #palet_el {
  width: 100%;
  border: 1px solid rgb(75, 102, 255);
  position: absolute;
  margin-top: 45px;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #fff;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select #palet_el .warier {
  display: flex;
  gap: 10px;
  padding: 0 15px;
  align-items: center;
  height: 55px;
  cursor: pointer;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select #palet_el .warier:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select #palet_el .warier.no-warier {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select #palet_el .warier.no-warier svg {
  width: 23px;
  height: 23px;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select #palet_el .warier .photo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.08));
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select #palet_el .warier .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .warier-select #palet_el .warier .name {
  width: calc(100% - 40px);
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .war-setup {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .war-setup .gap-el {
  height: 120px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-family: var(--fml-secondary);
  justify-content: center;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .war-setup .w-element {
  width: 50%;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .war-setup .w-element .profile-pic {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .war-setup .w-element .profile-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .war-setup .w-element .profile-name {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .war-setup .w-element .profile-name span {
  width: 100%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: block;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .submit_battle {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #fff;
  background-color: rgb(0, 4, 255);
  border-radius: 4px;
  font-weight: 600;
  margin-top: 20px;
}
.modal.warier_exampleModal .modal-dialog .modal-content .modal-body .keySeries-select select {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.88);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */