*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    &,
    * {
        font-family: var(--fml-primary);
    }
}

*.a_click_effect {
    transition: .1s;
    transform: scale(1.0);

    &:active {
        transition: .08s;
        transform: scale(0.95);
    }
}

:root {
    --fml-primary: Relaway;
    --fml-secondary: Oswald;
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Relaway;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

.fml-sec {
    font-family: var(--fml-secondary) !important;
    font-size: 13px;
}

.modal.key-gen-modal .modal-content {
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, .1);

    .modal-body {
        padding: 30px;
    }

    h1 {
        font-size: 18px;
        font-weight: 800;
        color: rgb(0, 0, 0, .9);
    }

    p {
        font-size: 14px;
        font-weight: 500;
        color: rgb(0, 0, 0, .8);

        .keys-number {
            background-color: rgb(216, 216, 255);
            font-family: var(--fml-secondary);
            font-size: 12px;
            border-radius: 4px;
            padding: 0px 5px;
            letter-spacing: 1px;
            border: 2px solid rgb(177, 177, 255);
        }
    }

    form {
        .input-copper-field {
            display: flex;
            width: 100%;
            background-color: rgb(216, 216, 255);
            border-radius: 4px;
            border: 2px solid rgb(177, 177, 255);

            input {
                width: calc(100% - 70px * 2);
                border: none;
                border-radius: 4px;
                text-align: center;
                font-family: var(--fml-secondary);
                font-size: 16px;
                font-weight: 500;
                color: rgb(0, 0, 0);
                outline: none;
                letter-spacing: 1px;
                background-color: transparent;
                height: 60px;
            }

            button {
                border: none;
                outline: none;
                width: 70px;
                height: 50px;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .5s;
                background-color: transparent;

                &.up {
                    &:active {
                        transition: .08s;
                        transform: translateY(-4px);
                    }
                }

                &.down {
                    &:active {
                        transition: .08s;
                        transform: translateY(4px);
                    }
                }

                svg {
                    width: 24px;
                    height: 24px;
                    margin-top: -5px;

                    path {
                        fill: rgb(0, 0, 0, .8);
                    }
                }
            }
        }
    }

    button {
        width: 100%;
        height: 40px;
        background-color: rgb(0, 0, 0);
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        margin-top: 10px;
        padding: 24px 10px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-radius: 4px;
        gap: 4px;

        span {
            font-family: var(--fml-secondary);
            font-size: 13px;
        }
    }

    button[type=button] {
        background: red;
    }
}

#loader {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 2px solid #fff;
    border-right-color: transparent;
    animation: identifier 1s linear infinite;

    @keyframes identifier {
        to {
            transform: rotate(360deg);
        }
    }
}

.modal.warier_exampleModal {
    .modal-dialog {
        .modal-content {
            border-radius: 0;

            .modal-body {

                .absolute-done{
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #ffffff8f;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:after{
                        content: '';
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        border: 3px solid rgb(0, 0, 0,.5);
                        border-right-color: transparent;
                        display: block;

                        animation: .6s roller infinite linear;
                        
                        @keyframes roller {
                            to{
                                transform: rotate(360deg);
                            }
                        }
                    }
                }

                .spin-ld{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #fffffff1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    left: 0;

                    &:after{
                        content: '';
                        width: 40px;
                        height: 40px;
                        border-right-color: transparent;
                        border: 2px solid rgb(0, 0, 0,.8);
                        animation: .6s infinite roller linear;
                        border-radius: 100%;
                        border-right-color: transparent;
                    }

                    @keyframes roller {
                        to {
                            transform: rotate(360deg);
                        }
                    }
                }

                .final-ld{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fffffff1;
                    position: absolute;
                    left: 0;
                    top: 0;

                    div {
                        width: 80%;
                        padding: 0 5%;
                        text-align: center;
                    }
                }

                .warier-select {
                    position: relative;

                    input.ws-input {
                        width: 100%;
                        height: 45px;
                        border-radius: 5px;
                        border: 1px solid rgb(0, 0, 0, .1);
                        padding: 0 14px;
                        padding-right: 55px;
                    }

                    .icon{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 45px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg{
                            width: 24px;
                            height: 24px;

                            path{ 
                                fill: rgb(0, 0, 0,.7);
                            }
                        }
                    }

                    #palet_el{
                        width: 100%;
                        border: 1px solid rgb(75, 102, 255);
                        position: absolute;
                        margin-top: 45px;
                        overflow: hidden;
                        top: 0;
                        left: 0;
                        border-radius: 5px;
                        background-color: #fff;

                        .warier{
                            display: flex;
                            gap: 10px;
                            padding: 0 15px;
                            align-items: center;
                            height: 55px;
                            cursor: pointer;
                            
                            &:hover{
                                background-color: rgb(0, 0, 0,.05);
                            }

                            &.no-warier{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 15px;
                                font-weight: 600;
                                color: rgb(0, 0, 0,.6);

                                svg{
                                    width: 23px;
                                    height: 23px;
                                }
                            }

                            .photo{
                                width: 40px;
                                height: 40px;
                                border-radius: 100%;
                                overflow: hidden;
                                background-image: linear-gradient(120deg, rgb(0,0,0,.09), rgb(0,0,0,.14), rgb(0,0,0,.08));

                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .name{
                                width: calc(100% - 40px);
                                font-size: 15px;
                                font-weight: 500;
                                color: rgb(0, 0, 0,.8);
                            }
                        }
                    }
                }

                .war-setup{
                    display: flex;
                    gap: 10px;
                    margin-top: 20px;

                    .gap-el{
                        height: 120px;
                        display: flex;
                        align-items: center;
                        color: rgb(0, 0, 0,.8);
                        font-size: 14px;
                        font-family: var(--fml-secondary);
                        justify-content: center;
                    }

                    .w-element{
                        width: calc(100% / 2);
                        padding: 20px 10px;
                        border-radius: 5px;
                        background-color: rgb(0, 0, 0,.06);
                        border: 1px solid rgb(0, 0, 0,.1);

                        .profile-pic{
                            width: 60px;
                            height: 60px;
                            background-color: rgb(0, 0, 0,.1);
                            border-radius: 100%;
                            border: 1px solid rgb(0, 0, 0,.1);
                            left: 0;
                            right: 0;
                            margin: auto;
                            overflow: hidden;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .profile-name{
                            font-size: 15px;
                            font-weight: 600;
                            color: rgb(0, 0, 0,.85);
                            width: 100%;
                            text-align: center;
                            margin-top: 10px;

                            span{
                                width: 100%;
                                height: 15px;
                                background-color: rgb(0, 0, 0,.1);
                                border-radius: 10px;
                                display: block;
                            }
                        }
                    }
                }

                .submit_battle{
                    width: 100%;
                    height: 45px;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    color: #fff;
                    background-color: rgb(0, 4, 255);
                    border-radius: 4px;
                    font-weight: 600;
                    margin-top: 20px;
                }

                .keySeries-select{
                    select{
                        border-radius: 0;
                        border: 1px solid rgb(00, 0, 0,.1);
                        font-size: 15px;
                        font-weight: 500;
                        color: rgb(0, 0, 0,.88);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}