<div class="modal fade key-gen-modal warier-gen-modal" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-4">
                    <h1 class="mb-2">Adicone novos itens na lista de gladiadores</h1>
                    <p>
                        Lorem ipsum dolor sit, explicabo at neque maxime odit nostrum pariatur quis
                        vitae in ratione <span class="keys-number">AFONSO NZANGO-</span> et, dolorum illum provident eveniet.
                    </p>
                </div>

                <div id="warier-gen-input"></div>

                <div id="alert-value-inserting"></div>
                
                <form action="" id="warier-gen-form" class="warier-gen-form">
                    <div class="_image">
                        <label for="imgWarier">
                            <input type="file" hidden name="imgWarier" id="imgWarier" required onchange="setPrevireImage(this.files[0])">
                            <div class="img-copper">
                                <img src="" id="imageCopper" alt="">
                            </div>
                        </label>
                    </div>
                    <div class="center-input">
                        <input type="text" minlength="5" maxlength="25" class="txt-warier-name" placeholder="Nome do gladiador" id="warierName"/>
                    </div>
                    <div class="center-input">
                        <input type="submit" value="Guardar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>