<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RRPL - <%- title %></title>

    <% if (bootstrap == true) { %>
        <link rel="stylesheet" href="/dependences/bootstrap/bootstrap.min.css">    
        <script src="/dependences/bootstrap/bootstrap.bundle.min.js" defer></script>
    <% } %>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/<%- css %>">
</head>

<body>
    <%- body %>
    
    <% if (socketConnection == true) { %>
        <script src="/dependences/socketIO/socketIO.js"></script>
    <% } %>

    <% if (adminJsFiles == true) { %>
        <script src="/js/private/key-gen-func.js"></script>
        <script src="/js/private/war-gen-func.js"></script>
    <% } %>

    <script src="/js/<%- js %>"></script>
</body>

</html>