<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/public/errors.css">
</head>
<body>
    <section class="invalid_key_error">
        <div class="clogo"></div>
        <div class="error_code_key"><%- errorHandleMessage %></div>
        <div class="desc">
            Lorem ipsum dolor sit, amet 
            adipisicing elit. A ad deleniti, maxime 
            velit, enim, eveniet iure unde rem 
            incidunt obcaecati voluptas. 
        </div>
        <div class="actions">
            <a href="/">Tentar novamente</a>
        </div>
    </section>
</body>
</html>