<%- include("../../parts/navbar") %>

<section class="center-item">
    <div class="moddle">
        <div class="items">
            <h1 class="mb-2">Alterar senha</h1>
            <% if(info == "success") { %>
                <div class="alert alert-success">Senha alterada com sucesso!</div>
            <% } %>

            <% if(info != "") { %>
                <% if(info != "success") { %>
                    <div class="alert alert-danger"><%- info %></div>
                <% } %>
            <% } %>

            <form action="/actions/change-password/<%- session._id %>" method="POST">
                <input placeholder="Digite a senha actual" type="text" name="currentpassword">
                <br>
                <br>
                <input placeholder="Digite a nova senha" type="password" name="newpassword_1">
                <br>
                <input placeholder="Digite a nova senha" type="password" name="newpassword_2">
                <br>
                <input value="Enviar" type="submit" />
            </form>
        </div>
        <div class="items">
            <a href="/auth/user-settings/change-username">Editar usuario</button>
        </div>
    </div>
</section>
