<%- include("../../parts/navbar") %>

<section class="center-item">
    <div class="moddle">
        <div class="items">
            <h1 class="mb-2">Alterar senha</h1>
            <form action="">
                <input placeholder="Digite a senha actual" type="text">
                <br>
                <br>
                <input placeholder="Digite a nova senha" type="password">
                <br>
                <input placeholder="Digite a nova senha" type="password">
                <br>
                <input value="Enviar" type="submit" />
            </form>
        </div>
        <div class="items">
            <a href="/auth/user-settings/change-username">Editar usuario</button>
        </div>
    </div>
</section>
